<div class="o-download-banner">
  <div class="display-flex">
    <div class="thumbnail margin-right-lg">
      <img width="270" src="<%= thumbnail %>" alt="<%= title %>">
    </div>
    <div class="content">
      <h3><%= title %></h3>
      <p><%= description %></p>
      <a class="btn" href="<%= url %>">Download</a>
    </div>
  </div>

</div>
